*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}



.admin-container {
  display: flex;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.sidebar {
  width: 240px;
  background-color: #006EA8;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 2px 0 8px rgba(0,0,0,0.1);
}

.sidebar img {
  height: 150px;
  width: 200px;
  margin-bottom: 20px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.sidebar nav a:hover {
  background-color: #ffffff;
  color: #006EA8;
  font-weight: bold;
}

/* Main area */
.admin-main {
  margin-left: 240px; /* equal to sidebar width */
  padding: 30px;
  flex: 1;
  background: #f5f5f5;
}


h1{
    font-size: 2.2rem;
  color: #1A237E;
  margin-bottom: 10px;
    text-align: center;
}






.cards {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 30px 15px;
            gap: 20px;
        }
        .card {
            background: white;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.15);
            padding: 30px;
            width: 220px;
            text-align: center;
            color: #1A237E;
            font-family: 'Segoe UI', sans-serif;
        }
        .card h2 {
            font-size: 3rem;
            margin-bottom: 10px;
            color: #1A237E;
        }
        .card p {
            font-size: 1.1rem;
            margin: 0;
        }
        .chart-container {
            background: white;
            padding: 30px;
            margin: 30px 15px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.15);
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
        }
        .chart-container h2 {
            text-align: center;
            color: #1A237E;
            margin-bottom: 20px;
            font-family: 'Segoe UI', sans-serif;
        }